HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### application.properties ###
application.properties
/hospital_manage/src/main/resources/
/service/service_cmn/src/main/resources/
/service/service_hosp/src/main/resources/
/service/service_user/src/main/resources/
/service_client/service-cmn-client/src/main/resources/
/service_gateway/src/main/resources/
